.mainPageEspaco{
  &-topo{
    background: black;
    height: 70px;
    width: 100%;
    opacity: 0.4;
  }
  &-titulo{
    @include txtEspaco($fontTitulo, 400, 48px, $black, 40px, center, initial);
  }
  &-subtitulo{
    @include txtEspaco($fontTexto, 400, 21px, $black, 26px, center, initial);
  }
  &-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 0;
    &__servicos{
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 300px;
      &-titulo{
        @include txtEspaco($fontTitulo, 400, 18px, $black, 20px, center, initial);
        margin: 20px 0 0;
      }
      &-img{
        background: black;
        height: 250px;
        width: 250px;
        border-radius: 50%;
      }
      &-texto{
        @include txtEspaco($fontTexto, 400, 16px, $black, 18px, center, initial);
        margin: 10px 0 0;
      }
    }
  }
  &-bottom{
    height: 15px;
    background-image: linear-gradient(90deg, $yoga, $naturo, $sagrado);
    margin-top: 30px;
  }
}