@font-face {
  font-family: 'Bulletto_Killa';
  src: url('../fonts/Bulletto_Killa.ttf');
}

@font-face {
  font-family: 'Nexa_Light';
  src: url('../fonts/Nexa_Light.otf');
}

@font-face {
  font-family: 'Nexa_Bold';
  src: url('../fonts/Nexa_Bold.otf');
}

@import url('https://fonts.googleapis.com/css?family=Dr+Sugiyama&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css?family=Andika&display=swap');