.footerEspaco{
  padding: 0;
  margin: 0;

  .contatosEspaco{
    background: $white;

    .infoRodape{
      display: flex;
      justify-content: space-around;
      align-items: baseline;
      height: 150px;
      margin-top: 50px;

      .endRodape {
        p{
          @include txtEspaco($fontTexto, 400, 16px, $black, 16px, left, initial);

          @include breakpoint($iphone5){
            font-size: 14px;
          }
        }
        span{
          margin: 0 10px 0 -26px;
        }
        a{
          color: $black;
          letter-spacing: 1px;
        }
      }

      .menuRodape{
        margin: 0;
        .menuRodapeLink{
          @include txtEspaco($fontTexto, 400, 16px, $black, 16px, left, uppercase);
        }
      }

      .redesRodape{
        display: flex;
        .facebook{
          background: url('../img/face-site.png');
          @include redesHeader;
        }
        .instagram{
          background: url('../img/instagram-site.png');
          @include redesHeader;
        }
      }
    }
  }

  .direitosEspaco{
    background: $black;
    padding: 10px 0;
    p{
      color: $white;
      font-size: 12px;
      margin: 0 0 5px;
      text-align: center;
      a{
        color: $white;
      }
    }
  }
}