.headerEspaco{

  .topo{
    .hamburguer {
      position:fixed;
      outline:none;
      right:0;
      border:0;
      margin:20px 50px;
      z-index:100;
      @include breakpoint($paisagem){
        margin:10px;
      }
      &:hover {
        cursor:pointer;
      }
      //HAMBURGUER BARS
      .bar1, .bar2, .bar3 {
        width: 30px;
        height: 2px;
        background-color: $black;
        margin: 5px 0;
        transition-duration: 0.4s;
      }
    }

    //BARS TRANSITION ON CLICK
    .toggle .bar1 {
      transform: rotate(-45deg) translate(-1px, 2px);
      background:$white;
    }
    .toggle .bar2 {
      opacity: 0;
    }
    .toggle .bar3 {
      transform: rotate(45deg) translate(-8px, -9px);
      background:$white;
    }

    //NAV WITH LINKS
    nav {
      background:linear-gradient($yoga, $sagrado, $naturo);
      opacity:0;
      visibility: hidden;
      position: fixed;
      width:100%;
      height:100vh;
      z-index:50;
      transition-duration:.5s;
      backface-visibility:none;
      ul {
        box-sizing:border-box;
        display: flex;
        flex-direction: column;
        height:100%;
        justify-content: center;
        list-style:none;
        margin:0;
        max-height:100%;
        padding:0;
        text-align:center;
        width:100%;
        li {
          a {
            display:block;
            width:30%;
            padding:10px 0;
            transition-duration:.6s;
            font-size:22px;
            color:$white;
            text-transform:uppercase;
            text-decoration:none;
            margin: 10px auto;
            @include breakpoint($paisagem){
              width: 100%;
              margin: 0px auto;
            }

            &:hover {
              background:$white;
              cursor:pointer;
              color:$black;
              width:20%;
              border-radius: 10px;
              @include breakpoint($paisagem){
                width: 100%;
              }
            }
          }
        }
      }
    }

    .open {
      visibility: visible;
      opacity:1;
    }
  }
}