.mainHistoria{
  background-color: $bgHistoria;
  padding-bottom: 20px; 

  .tituloHistoria{
    @include tituloPaginas($tituloHistoria);

    @include breakpoint($celular){
      font-size: 28px;
    }

    @include make-xs-column(12);
    @include make-sm-column(12);
    @include make-md-column(12);
  }

  .txtHistoria{
    @include make-xs-column(12);
    @include make-sm-column(12);
    @include make-md-column(6);
  }

  .imgHistoria{
    @include make-xs-column(12);
    @include make-sm-column(12);
    @include make-md-column(6);

    @include breakpoint($tablet){
      margin-top: 20px;
    }

    .fotoHistoria{
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
  }

  .txtMissao{
    @include make-xs-column(12);
    @include make-sm-column(12);
    @include make-md-column(12);
    .tituloMissao{
      font-family: $font-Bulleto;
      font-weight: 400;
    }
  }

  .txtVisao{
    @include make-xs-column(12);
    @include make-sm-column(12);
    @include make-md-column(12);
    .tituloVisao{
      font-family: $font-Bulleto;
      font-weight: 400;
    }
  }
}