body{
  font-family: Verdana;
  font-size: 16px;

  

  .mainFritz{
    .banner{
      background-color: $bgBanner;
      position: relative;
      img{
        max-width: 100%;
      }

      .slick-dots{
        text-align: center;
        line-height: 0;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        li{
          display: inline-block;
          line-height: 0;
          padding: 8px 4px;
          button{
            font-size: 0;
            border: 0;
            width: 12px;
            height: 12px;
            background: #231f20;
            border-radius: 50%;
            padding: 0;
            outline: none
          }
        }
        .slick-active{
          button{
            background: #fada00;
            border: 2px solid #000;
            &:focus{
              outline: none
            }
          }
        }
      }
    }

    .queijo{
      background-color: $bgQueijo;
      padding: 30px 0;

      .txtQueijo{
        float: left;
        padding: 150px 0;
        width: 30%;

        @include breakpoint($tablet){
          float: none;
          padding: 10px;
          width: 100%;
        }

        .tituloQueijo{
          background: #fff12c;
          display: block;
          font-family: $font-Bulleto;
          font-weight: 400;
          margin: 0;
          padding: 10px 90px 10px 10px;
          text-align: right;
          width: 100%;

          @include breakpoint($note){
            padding: 10px;
          }

          @include breakpoint($tablet){
            text-align: center;
          }
        }

        .infoQueijo{
          color:#fff;
          font-weight: normal;
          float: right;
          margin: 10px 0;
          width: 85%;

          @include breakpoint($tablet){
            float: none;
            margin: 0 0 10px;
            padding: 10px;
            text-align: center;
            width: 100%;
          }
        }

        .btnQueijo{
          background-color: #FFF12C;
          border-radius: 10px;
          border: 1px solid #FFF12C;
          display: block;
          font-size: 14px;
          font-family: Verdana, Geneva, sans-serif;
          font-weight: bold;
          margin: 10px 60px;
          padding: 6px 12px;
          outline: none;
          text-transform: uppercase;
          a{
            color: #000932;
            font-family: $font-NexaB;
          }

          @include breakpoint($tablet){
            margin: 0 auto;
            text-align: center;
          }
        }
      }

      .imgQueijo{
        display: inline-block;
        padding: 0px 60px;
        text-align: right;
        width: 70%;

        @include breakpoint($tablet){
          text-align: center;
          width: 100%;
        }

        img{
          max-width: 100%;
        }
      }
    }

    .produtos{
      background-color: $bgProdutos;
      padding: 30px 0;

      .imgProdutos{
        @include make-xs-column(12);
        @include make-sm-column(12);
        @include make-md-column(6);

        border: none;
        display: block;

        &:hover, &:focus, &:active{
          border: none;
          outline: none;
        }

        .slick-slide img{
          margin: 0 auto;
          max-width: 100%;
          &:hover, &:focus, &:active{
            border: none;
            outline: none;
          }
        }

      }

      .txtProdutos{
        @include make-xs-column(12);
        @include make-sm-column(12);
        @include make-md-column(6);

        margin: 20px 0;

        .tituloProdutos{
          display: block;
          font-family: $font-Bulleto;
          font-weight: 400;
          margin: 0;
          padding: 0;
          width: 100%;

          @include breakpoint($tablet){
            text-align: center;
          }
        }

        .infoProdutos{
          font-weight: normal;

          @include breakpoint($tablet){
            float: none;
            padding: 10px;
            text-align: center;
            width: 100%;
          }
        }

        .btnProdutos{
          background-color: #FFF12C;
          border-radius: 10px;
          border: 1px solid #FFF12C;
          display: block;
          font-size: 14px;
          font-weight: bold;
          margin: 20px 0px;
          padding: 6px 12px;
          outline: none;
          text-transform: uppercase;
          a{
            color: #000932;
            font-family: $font-NexaB;
          }

          @include breakpoint($tablet){
            margin: 0 auto;
            text-align: center;
          }
        }

        .paginator{
          width: 100%;
          @include breakpoint($tablet){
            display: none;
          }

          .prev{
            background: url(../img/preview.png) no-repeat;
            background-repeat: no-repeat;
            background-size: 30%;
            cursor: pointer;
            display: inline-block;
            height: 25px;
            left: 13px;
            width: 50px;
            &:hover{
              background-position: 0px -25px;
            }
          }
          .next{
            background: url(../img/next.png) no-repeat;
            background-repeat: no-repeat;
            background-size: 30%;
            cursor: pointer;
            display: inline-block;
            height: 25px;
            right: 0;
            width: 50px;
            &:hover{
              background-position: 0px -25px;
            }
          }
        }
      }
    }

    .historia{
      background-color: $bgQueijo;
      padding: 30px 0;

      .txtHistoria{
        float: left;
        padding: 150px 0 0;
        width: 30%;

        @include breakpoint($tablet){
          float: none;
          padding: 10px;
          width: 100%;
        }

        .tituloHistoria{
          background: #fff12c;
          display: block;
          font-family: $font-Bulleto;
          font-weight: 400;
          margin: 0;
          padding: 10px 80px 10px 10px;
          text-align: right;
          width: 100%;

          @include breakpoint($note){
            padding: 10px;
          }

          @include breakpoint($tablet){
            text-align: center;
          }
        }

        .infoHistoria{
          color:#fff;
          font-weight: normal;
          float: right;
          margin: 10px 0;
          width: 70%;

          @include breakpoint($tablet){
            float: none;
            margin: 0 0 10px;
            padding: 10px;
            text-align: center;
            width: 100%;
          }
        }
        .btnHistoria{
          background-color: #FFF12C;
          border-radius: 10px;
          border: 1px solid #FFF12C;
          display: block;
          font-size: 14px;
          font-family: Verdana, Geneva, sans-serif;
          font-weight: bold;
          margin: 10px 0px;
          padding: 6px 12px;
          outline: none;
          text-transform: uppercase;
          a{
            color: #000932;
            font-family: $font-NexaB;
          }

          @include breakpoint($tablet){
            margin: 10px auto 0;
            text-align: center;
          }
        }
      }

      .imgHistoria{
        display: inline-block;
        padding: 0px 60px;
        text-align: right;
        width: 70%;

        @include breakpoint($tablet){
          text-align: center;
          width: 100%;
        }

        img{
          max-width: 100%;
        }
      }
    }

    .PDV{
      background-color: $bgPDV;
      padding: 30px 0;

      .PDV02{
        @include make-xs-column(12);
        @include make-sm-column(12);
        @include make-md-column(12);
        .casaPDV{
          text-align: center;
          @include breakpoint($tablet){
            margin: 10px auto;
            width: 100%;
          }
          img{
            max-width: 100%;
          }
        }
      }
    }

    .maps{
      background-color: $bgPDV;
      padding: 10px 0;
      @include breakpoint($celular){
        padding: 10px;
      }
    }
  }

  .slick-initialized .slick-slide{
    outline: none;
  }
}