$note: max-width 1050px;
$tablet: max-width 991px;
$paisagem: max-width 768px;
$celular: max-width 479px;
$iphone5: max-width 320px;

$font-Bulleto: 'Bulletto_Killa';
$font-NexaL: 'Nexa_Light';
$font-NexaB: 'Nexa_Bold';
$fontTexto: 'Andika', sans-serif;
$fontTourgette: 'Courgette', cursive;
$fontPilares: 'Dr Sugiyama', cursive;

// Cores base
$black: #000;
$white: #ffffff;

// Cores elementos
$yoga: #F7913E;
$naturo: #5AB886;
$sagrado: #A287C2;


// Home
$header: #fff;
$txtMenu: #fff;
$bgMenu: #fff12c;
$bgBanner: #f9f9f9;
$bgQueijo: #000932;
$bgProdutos: #f9f9f9;
$bgHistoria: #000932;
$bgPDV: #f9f9f9;
$bgRodape: #a1262a;
$bgFooter: #000;

// Queijo
$bgPagQueijo: #f9f9f9;

// Produtos
$bgPagProdutos: #f9f9f9;
$tituloProdutos: #a2262a;
$tituloTiposProdutos: #a2262a;
$BGPesagemProduto: #fff12c;

// Historia
$bgHistoria: #f9f9f9;
$tituloHistoria: #a2262a;